/* Welcome Page */

#welcome-options
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}

.welcome-button
{
    background-color: lightgray;
    color: black;
    cursor: pointer;
    font-size: larger;
    margin: 10px;
}

.welcome-form
{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;

}

.welcome-input
{
    font-size: larger;

}

/* Home Page */

html, body, #root, .fakeso { height: 100% }

body { font-family: Arial; }

.body
{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 100%;
    width: 100%;
}

.header
{
    background-color: lightgray;
    padding: 30px;
    text-align: center;
    position: sticky;
    top: 0;
}

#website-title { text-align: center; }

#search-bar
{
    bottom: 65px;
    float: right;
    position: relative;
    padding: 15px;
    width: 20%;
}

#menu
{
    border-right: dotted;
    height: 100%;
}

#menu div
{
    border-radius: 10px;
    color: blue;
    cursor: pointer;
    font-size: 150%;
    margin-top: 70px;
    padding: 30px;
    text-align: center;
}

#col-names > td:not(.active):hover { background-color: lightgray; }

.active { background-color: darkgray; }

#main { display: block; }

#questions-header-container { border-bottom: dotted; }

#questions-header, #nav-button-container
{
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}

#type-results-header
{
    display: flex;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
}

#ask-question-container 
{
    display: flex;
    align-self: center;
}

#ask-question
{
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    font-size: larger;
    padding: 15px;
}

#ask-question:hover, #answer-question:hover, .submit-button:hover { background-color: lightskyblue; }

#question-filter {
    display: flex;
    justify-content: space-between;
    margin: 0% 5%;
}

#num-questions
{
    display: inline-block;
    font-size: large;
    text-align: center;
}

#filters
{
    display: inline-block;
    height: 30%;
    border-collapse: collapse;
    justify-content: right;
}

#filters td
{
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.active-filter { background-color: gray; }

#prev-button, #next-button {
    display: flex;
    cursor: pointer;
    border-style: solid;
    border-radius: 10px;
    padding: 5px;
    margin: 2% 0%;
}

#prev-button:hover, #next-button:hover { background-color: lightgray; }

/* QUESTIONS */

.question-container
{
    display: grid;
    grid-template-columns: 1.5% 13.5% 72.5% 15%;
    border-bottom: dotted;
    align-items: center;
    padding: 20px;
}

/* Voting */
.votes, .upvote, .downvote {
    margin: 0;
}
.upvote, .downvote { cursor: pointer; }
.upvote:hover { color: blue; }
.downvote:hover { color: red; }

.interaction-stats
{
    margin-left: 20%;
    color: gray;
}

.title-tags-container
{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.title
{
    width: fit-content; /* div with "title" class only takes up as much content as text takes up */
    font-size: 150%;
    color: blue;
    cursor: pointer;
}

.tags-container
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 20px;
}

.tags
{
    border-radius: 10px;
    padding: 10px;
    color: white;
    background-color: rgb(120, 120, 120);
}

#no-questions-found
{
    display: inline-block;
    margin-top: 2%;
    margin-left: 5%;
}

/* SEE ANSWERS */

#question-metadata-container 
{
    border-bottom: dotted;
    padding: 20px;
}

#question-metadata-top
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin: 0% 5%;
}

#num-answers
{
    display: inline-block;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

#question-metadata-title
{
    display: inline-block;
    font-size: large;
    text-align: center;
    font-weight: bold;
}

#question-metadata-bottom
{
    display: flex;
    margin: 0% 5%;
    align-items: center;
}

#num-views
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    font-size: large;
    font-weight: bold;
}

#asked-by
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    text-align: center;
}

#question-metadata-text
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    text-align: left;
    margin: 0%;
    flex: 1;
}

.answer-container
{
    display: grid;
    grid-template-columns: 75% 25%;
    border-bottom: dotted;
}

.answer-text
{
    margin-left: 5%;
    text-align: left;
}

.answer-metadata
{
    display: flex;
    align-items: center;
    justify-content: center;
}

#answer-question
{
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    font-size: larger;
    padding: 15px;
    margin-left: 2%;
    margin-top: 2%;
}

#new-question-form, #new-answer-form { margin: 0% 5%; }

/* New Question page */
.instructions {
    font-style: italic;
    margin-left: 2.5%;
}

.input-text {
    width: 100%;
    height: 30px;
}

#ans-text > .input-text, #question-text > .input-text {
    resize: none;
    height: 150px;
    width: 100%;
}

#end-form {
    display: flex;
    justify-content: space-between;
}

#mandatory-fields {
    display: inline-block;
    color: red;
    margin-top: 20px;
}

.submit-button {
    display: inline-block;
    background-color: rgb(48, 144, 226);
    padding: 10px;
    color: white;
    margin-top: 20px;
    cursor: pointer;
}

/* Tags page */
#tags-page { margin: 0% 5%; }

#tags-page-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#tags-page-header div { display: inline-block; }

#tags-page-content {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 10%;
    column-gap: 10px;
}

#tags-page-content > div {
    border-style: dotted;
    margin: 5%;
    text-align: center;
    width: 45%;
    border-color: gray;
    padding: 3%;
}

.tag-link {
    background: none;
    border: none;
    font-size: inherit;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}